Code/Common/x64/Debug/
Code/Game/x64/Debug/
Code/Launcher/x64/Debug/
Code/Game/Debug/vc140.idb
Code/Game/Debug/vc140.pdb
Code/Game/Debug/
Code/Launcher/Debug/
Code/Engine/x64/Debug/
Code/Common/Debug/
Code/Engine/Debug/
.vs/LittleInvaders/v14/.suo
x64/Debug/
Debug/
LittleInvaders.VC.db
